.font-tebal {
	font-weight: bold;
}
.gb-kecil {
	width: 50px;
	height: auto;
}
.section-utama {
	font-family: 'Roboto',sans-serif;
	font-size: 13px;
	padding: 0 10px;
}
.isi {
	min-height: 500px;
	background-color: #E4E4E4;
}
.font-kecil {
	font-size: 22px;
}
.sidebar-brand-icon img {
	height: 45px;
	width: auto;
}
.sisinya {
	font-family: 'Nunito Sans',sans-serif;
	font-size: 12px;
}
.text-coklat {
	color: #6b5747 !important;
}
.flat {
	border-radius: 0px !important;
}
.border-left-coklat {
  border-left: 0.25rem solid #5d3f32 !important;
}
#tabelku, .font-standar {
	font-size: 13px;
}
#tabelku tbody tr td {
	padding: 5px 5px;
	font-style: normal;
	color: black;
}
hr.small {
	border-color: black;
	margin-top: 0px;
}
.warnahitam {
	color: black !important;
}
.aktif {
	background-color: rgba(212, 247, 226,.5);
}